In [1]:
%pip install --upgrade pip -q
%pip install -r requirements.txt -q

Note: you may need to restart the kernel to use updated packages.
Note: you may need to restart the kernel to use updated packages.

In [2]:
import sys
import os
# 
# Check Python version
print(f"Python Version: `{sys.version}`")  # Detailed version info
print(f"Base Python location: `{sys.base_prefix}`")
print(f"Current Environment location: `{os.path.basename(sys.prefix)}`", end='\n\n')

Python Version: `3.12.8 (tags/v3.12.8:2dc476b, Dec  3 2024, 19:30:04) [MSC v.1942 64 bit (AMD64)]`
Base Python location: `C:\Users\LMT\AppData\Local\Programs\Python\Python312`
Current Environment location: `.venv_sofascore-scraper`

In [3]:
# Output file name
OUTPUT_FILE = "sofascore.xlsx"

# ------------------------------------------------------------------------------
# Configuration for Season, League, and Team Filtering
#
# SEASON:
#   - Specify one or more seasons as a list.
#   - Examples: ['24/25', '23/24'] or ['2025']
#   - Use the season format required by the league. For valid season formats, you
#     can use: sfc.Sofascore.get_valid_seasons()
#   - Special options:
#       ['ALL'] or []    -> Include all available seasons.
#       ['LATEST']       -> Include only the most recent season.
SEASON = ['ALL']

# LEAGUE:
#   - Specify one or more league names as a list.
#   - Examples: ['Champions League', 'EPL']
#   - Make sure you use the correct league name format.
#   - Use ['ALL'] or [] -> target all leagues.
LEAGUE = ['ALL']

# TEAM_IN_LEAGUE:
#   - (Optional) Specify a particular team or teams within the league.
#   - Example: ['EPL'] to filter for teams in the English Premier League.
TEAM_IN_LEAGUE = ['EPL']
# ------------------------------------------------------------------------------

# List of column names
COLUMNS = [
    'W/L',
    'T/X',
    'Total of W',
    'Home/Away',
    'Correct score',
    'HT',
    'Total Goal O/E',
    'Score O/E',
    'Concede O/E',
    'BTTS',
    'Corner',
    'Card',
    'Corner HT',
    'Card HT',
    'ASIAN',
    'Handicap Value',
    'Date'
]

# Import tools and library

- [ScraperFC's Sofascore API documentation](https://scraperfc.readthedocs.io/en/latest/sofascore.html)
- [Sofascore Source](https://www.sofascore.com)

In [4]:
import ScraperFC as sfc
from sofascore_scraper_tools import get_league_matches, collect_teams_data, get_teams_in_league, save_excel
import pandas as pd

# Get all matches in the league

In [6]:
matches = get_league_matches(SEASON, LEAGUE)

Running

Processing Seasons for `Champions League`: 100%|███████████████████████████████████████| 22/22 [00:30<00:00,  1.37s/it]
Processing Seasons for `Europa League`: 100%|██████████████████████████████████████████| 16/16 [00:48<00:00,  3.04s/it]
Processing Seasons for `Europa Conference League`: 100%|█████████████████████████████████| 4/4 [00:14<00:00,  3.56s/it]
Processing Seasons for `EPL`: 100%|████████████████████████████████████████████████████| 32/32 [01:19<00:00,  2.48s/it]
Processing Seasons for `La Liga`: 100%|████████████████████████████████████████████████| 32/32 [01:18<00:00,  2.47s/it]
Processing Seasons for `Bundesliga`: 100%|█████████████████████████████████████████████| 29/29 [01:00<00:00,  2.09s/it]
Processing Seasons for `Serie A`: 100%|████████████████████████████████████████████████| 28/28 [01:04<00:00,  2.30s/it]
Processing Seasons for `Ligue 1`: 100%|████████████████████████████████████████████████| 28/28 [01:03<00:00,  2.27s/it]
Processing Seasons for `Turkish Super Lig`: 100%|██████████████████████████████████████| 17/17 [00:35<00:00,  2.09s/it]
Processing Seasons for `Argentina Liga Profesional`: 100%|█████████████████████████████| 18/18 [00:41<00:00,  2.31s/it]
Processing Seasons for `Argentina Copa de la Liga Profesional`: 100%|████████████████████| 6/6 [00:07<00:00,  1.21s/it]
Processing Seasons for `Liga 1 Peru`: 100%|████████████████████████████████████████████| 18/18 [00:37<00:00,  2.11s/it]
Processing Seasons for `Copa Libertadores`: 100%|██████████████████████████████████████| 17/17 [00:19<00:00,  1.14s/it]
Processing Seasons for `MLS`: 100%|████████████████████████████████████████████████████| 18/18 [00:41<00:00,  2.32s/it]
Processing Seasons for `USL Championship`: 100%|███████████████████████████████████████| 10/10 [00:27<00:00,  2.79s/it]
Processing Seasons for `USL1`: 100%|█████████████████████████████████████████████████████| 7/7 [00:06<00:00,  1.00it/s]
Processing Seasons for `USL2`: 100%|█████████████████████████████████████████████████████| 6/6 [00:21<00:00,  3.64s/it]
Processing Seasons for `Saudi Pro League`: 100%|███████████████████████████████████████| 14/14 [00:22<00:00,  1.58s/it]
Processing Seasons for `World Cup`: 100%|██████████████████████████████████████████████| 23/23 [00:11<00:00,  2.00it/s]
Processing Seasons for `Euros`: 100%|██████████████████████████████████████████████████| 17/17 [00:07<00:00,  2.39it/s]
Processing Seasons for `Gold Cup`: 100%|█████████████████████████████████████████████████| 8/8 [00:03<00:00,  2.35it/s]
Processing Seasons for `Women's World Cup`: 100%|████████████████████████████████████████| 4/4 [00:02<00:00,  1.75it/s]
Processing Seasons for `EFL`: 100%|████████████████████████████████████████████████████| 17/17 [00:15<00:00,  1.12it/s]
Processing Seasons for `FA`: 100%|█████████████████████████████████████████████████████| 17/17 [00:25<00:00,  1.50s/it]
Processing Seasons for `Emirates`: 100%|█████████████████████████████████████████████████| 7/7 [00:02<00:00,  2.96it/s]
Processing Seasons for `League One`: 100%|█████████████████████████████████████████████| 17/17 [00:58<00:00,  3.47s/it]

# Get teams in the league

In [7]:
team_names = get_teams_in_league(TEAM_IN_LEAGUE, SEASON)
# team_names = ['Liverpool']
pd.DataFrame(team_names)

Processing Seasons for `EPL`: 100%|████████████████████████████████████████████████████| 32/32 [01:13<00:00,  2.31s/it]

                         0
0                  Arsenal
1              Aston Villa
2                 Barnsley
3          Birmingham City
4         Blackburn Rovers
5                Blackpool
6         Bolton Wanderers
7              Bournemouth
8            Bradford City
9                Brentford
10  Brighton & Hove Albion
11                 Burnley
12            Cardiff City
13       Charlton Athletic
14                 Chelsea
15           Coventry City
16          Crystal Palace
17            Derby County
18                 Everton
19                  Fulham
20       Huddersfield Town
21               Hull City
22            Ipswich Town
23            Leeds United
24          Leicester City
25               Liverpool
26              Luton Town
27         Manchester City
28       Manchester United
29           Middlesbrough
30      Milton Keynes Dons
31        Newcastle United
32            Norwich City
33       Nottingham Forest
34         Oldham Athletic
35              Portsmouth
36     Queens Park Rangers
37                 Reading
38        Sheffield United
39     Sheffield Wednesday
40             Southampton
41              Stoke City
42              Sunderland
43            Swansea City
44            Swindon Town
45       Tottenham Hotspur
46                 Watford
47    West Bromwich Albion
48         West Ham United
49          Wigan Athletic
50           Wolverhampton

In [8]:
team_data = collect_teams_data(matches, team_names, COLUMNS)

Processing `Arsenal` matches: 100%|████████████████████████████████████████████████| 1585/1585 [04:24<00:00,  6.00it/s]

Added data for `Arsenal` with `1562` rows

Processing `Aston Villa` matches: 100%|████████████████████████████████████████████| 1236/1236 [03:47<00:00,  5.43it/s]

Added data for `Aston Villa` with `1219` rows

Processing `Barnsley` matches:  58%|████████████████████████████▎                    | 231/399 [00:46<00:36,  4.58it/s]

Error processing match `7227950` for `Barnsley`: `'current'`

Processing `Barnsley` matches: 100%|█████████████████████████████████████████████████| 399/399 [01:21<00:00,  4.92it/s]

Added data for `Barnsley` with `381` rows

Processing `Birmingham City` matches: 100%|██████████████████████████████████████████| 405/405 [01:14<00:00,  5.44it/s]

Added data for `Birmingham City` with `394` rows

Processing `Blackburn Rovers` matches: 100%|█████████████████████████████████████████| 797/797 [02:30<00:00,  5.28it/s]

Added data for `Blackburn Rovers` with `789` rows

Processing `Blackpool` matches: 100%|████████████████████████████████████████████████| 441/441 [01:24<00:00,  5.20it/s]

Added data for `Blackpool` with `413` rows

Processing `Bolton Wanderers` matches: 100%|█████████████████████████████████████████| 863/863 [02:43<00:00,  5.26it/s]

Added data for `Bolton Wanderers` with `834` rows

Processing `Bournemouth` matches:  67%|██████████████████████████████▉               | 357/531 [01:15<00:37,  4.69it/s]

Error processing match `4901572` for `Bournemouth`: `'current'`

Processing `Bournemouth` matches: 100%|██████████████████████████████████████████████| 531/531 [01:54<00:00,  4.64it/s]

Added data for `Bournemouth` with `518` rows

Processing `Bradford City` matches: 100%|████████████████████████████████████████████| 446/446 [01:28<00:00,  5.05it/s]

Added data for `Bradford City` with `431` rows

Processing `Brentford` matches: 100%|████████████████████████████████████████████████| 478/478 [01:41<00:00,  4.71it/s]

Added data for `Brentford` with `455` rows

Processing `Brighton & Hove Albion` matches: 100%|███████████████████████████████████| 560/560 [01:55<00:00,  4.86it/s]

Added data for `Brighton & Hove Albion` with `537` rows

Processing `Burnley` matches:  72%|███████████████████████████████████▊              | 317/442 [01:05<00:26,  4.79it/s]

Error processing match `7227949` for `Burnley`: `'current'`

Processing `Burnley` matches: 100%|██████████████████████████████████████████████████| 442/442 [01:30<00:00,  4.89it/s]

Added data for `Burnley` with `430` rows

Processing `Cardiff City` matches: 100%|█████████████████████████████████████████████| 152/152 [00:32<00:00,  4.68it/s]

Added data for `Cardiff City` with `149` rows

Processing `Charlton Athletic` matches: 100%|████████████████████████████████████████| 926/926 [02:53<00:00,  5.33it/s]

Added data for `Charlton Athletic` with `882` rows

Processing `Chelsea` matches: 100%|████████████████████████████████████████████████| 1596/1596 [04:57<00:00,  5.37it/s]

Added data for `Chelsea` with `1577` rows

Processing `Coventry City` matches: 100%|████████████████████████████████████████████| 705/705 [02:15<00:00,  5.21it/s]

Added data for `Coventry City` with `695` rows

Processing `Crystal Palace` matches: 100%|███████████████████████████████████████████| 664/664 [02:01<00:00,  5.48it/s]

Added data for `Crystal Palace` with `651` rows

Processing `Derby County` matches: 100%|█████████████████████████████████████████████| 449/449 [01:17<00:00,  5.81it/s]

Added data for `Derby County` with `440` rows

Processing `Everton` matches: 100%|████████████████████████████████████████████████| 1364/1364 [04:00<00:00,  5.67it/s]

Added data for `Everton` with `1346` rows

Processing `Fulham` matches: 100%|███████████████████████████████████████████████████| 809/809 [02:27<00:00,  5.50it/s]

Added data for `Fulham` with `798` rows

Processing `Huddersfield Town` matches: 100%|████████████████████████████████████████| 383/383 [01:19<00:00,  4.85it/s]

Added data for `Huddersfield Town` with `372` rows

Processing `Hull City` matches: 100%|████████████████████████████████████████████████| 321/321 [00:54<00:00,  5.94it/s]

Added data for `Hull City` with `314` rows

Processing `Ipswich Town` matches: 100%|█████████████████████████████████████████████| 450/450 [01:21<00:00,  5.50it/s]

Added data for `Ipswich Town` with `435` rows

Processing `Leeds United` matches: 100%|█████████████████████████████████████████████| 726/726 [02:11<00:00,  5.53it/s]

Added data for `Leeds United` with `717` rows

Processing `Leicester City` matches: 100%|███████████████████████████████████████████| 878/878 [02:32<00:00,  5.76it/s]

Added data for `Leicester City` with `863` rows

Processing `Liverpool` matches: 100%|██████████████████████████████████████████████| 1571/1571 [04:31<00:00,  5.79it/s]

Added data for `Liverpool` with `1552` rows

Processing `Luton Town` matches: 100%|███████████████████████████████████████████████| 161/161 [00:33<00:00,  4.82it/s]

Added data for `Luton Town` with `161` rows

Processing `Manchester City` matches: 100%|████████████████████████████████████████| 1340/1340 [03:50<00:00,  5.81it/s]

Added data for `Manchester City` with `1317` rows

Processing `Manchester United` matches: 100%|██████████████████████████████████████| 1594/1594 [04:39<00:00,  5.70it/s]

Added data for `Manchester United` with `1572` rows

Processing `Middlesbrough` matches: 100%|████████████████████████████████████████████| 617/617 [01:43<00:00,  5.94it/s]

Added data for `Middlesbrough` with `614` rows

Processing `Milton Keynes Dons` matches: 100%|███████████████████████████████████████| 988/988 [03:13<00:00,  5.12it/s]

Added data for `Milton Keynes Dons` with `952` rows

Processing `Newcastle United` matches: 100%|███████████████████████████████████████| 1263/1263 [03:34<00:00,  5.88it/s]

Added data for `Newcastle United` with `1247` rows

Processing `Norwich City` matches: 100%|█████████████████████████████████████████████| 473/473 [01:21<00:00,  5.80it/s]

Added data for `Norwich City` with `469` rows

Processing `Nottingham Forest` matches: 100%|████████████████████████████████████████| 345/345 [00:59<00:00,  5.84it/s]

Added data for `Nottingham Forest` with `343` rows

Processing `Oldham Athletic` matches: 100%|██████████████████████████████████████████| 599/599 [01:52<00:00,  5.31it/s]

Added data for `Oldham Athletic` with `563` rows

Processing `Portsmouth` matches:  51%|████████████████████████▏                      | 378/734 [01:16<00:57,  6.14it/s]

Error processing match `7227950` for `Portsmouth`: `'current'`

Processing `Portsmouth` matches: 100%|███████████████████████████████████████████████| 734/734 [02:11<00:00,  5.60it/s]

Added data for `Portsmouth` with `699` rows

Processing `Queens Park Rangers` matches: 100%|██████████████████████████████████████| 300/300 [00:48<00:00,  6.13it/s]

Added data for `Queens Park Rangers` with `300` rows

Processing `Reading` matches: 100%|██████████████████████████████████████████████████| 294/294 [00:54<00:00,  5.44it/s]

Added data for `Reading` with `284` rows

Processing `Sheffield United` matches: 100%|█████████████████████████████████████████| 591/591 [01:54<00:00,  5.16it/s]

Added data for `Sheffield United` with `566` rows

Processing `Sheffield Wednesday` matches: 100%|██████████████████████████████████████| 561/561 [01:40<00:00,  5.57it/s]

Added data for `Sheffield Wednesday` with `548` rows

Processing `Southampton` matches: 100%|████████████████████████████████████████████| 1143/1143 [03:11<00:00,  5.98it/s]

Added data for `Southampton` with `1119` rows

Processing `Stoke City` matches: 100%|███████████████████████████████████████████████| 489/489 [01:23<00:00,  5.89it/s]

Added data for `Stoke City` with `486` rows

Processing `Sunderland` matches: 100%|███████████████████████████████████████████████| 897/897 [02:36<00:00,  5.74it/s]

Added data for `Sunderland` with `871` rows

Processing `Swansea City` matches: 100%|█████████████████████████████████████████████| 362/362 [01:00<00:00,  5.98it/s]

Added data for `Swansea City` with `359` rows

Processing `Swindon Town` matches: 100%|█████████████████████████████████████████████| 547/547 [01:42<00:00,  5.35it/s]

Added data for `Swindon Town` with `519` rows

Processing `Tottenham Hotspur` matches: 100%|██████████████████████████████████████| 1487/1487 [04:18<00:00,  5.76it/s]

Added data for `Tottenham Hotspur` with `1467` rows

Processing `Watford` matches:  59%|█████████████████████████████▌                    | 229/387 [00:43<00:30,  5.21it/s]

Error processing match `7227949` for `Watford`: `'current'`

Processing `Watford` matches: 100%|██████████████████████████████████████████████████| 387/387 [01:10<00:00,  5.46it/s]

Added data for `Watford` with `375` rows

Processing `West Bromwich Albion` matches: 100%|█████████████████████████████████████| 573/573 [01:38<00:00,  5.81it/s]

Added data for `West Bromwich Albion` with `568` rows

Processing `West Ham United` matches: 100%|████████████████████████████████████████| 1253/1253 [03:28<00:00,  6.00it/s]

Added data for `West Ham United` with `1238` rows

Processing `Wigan Athletic` matches: 100%|███████████████████████████████████████████| 691/691 [02:02<00:00,  5.66it/s]

Added data for `Wigan Athletic` with `657` rows

Processing `Wolverhampton` matches: 100%|████████████████████████████████████████████| 568/568 [01:35<00:00,  5.92it/s]

Added data for `Wolverhampton` with `558` rows

In [9]:
team_data['Liverpool']

,W/L,T/X,Total of W,Home/Away,Correct score,HT,Total Goal O/E,Score O/E,Concede O/E,BTTS,Corner,Card,Corner HT,Card HT,ASIAN,Handicap Value,Date
0,L,T,5,A,2-3,1-3,O,E,O,Y,4-4,0-3,1-3,0-0,None,-0.50,06-04-2025
1,W,X,1,H,1-0,0-0,O,O,EN,N,11-5,2-2,5-2,0-2,None,-1.00,02-04-2025
2,L,T,3,H,1-2,0-1,O,O,E,Y,4-9,1-2,1-6,0-0,None,-0.50,16-03-2025
3,L,T,6,H,1-5,0-1,E,O,O,Y,12-6,1-1,4-3,0-0,None,-0.25,11-03-2025
4,W,T,4,H,3-1,0-1,E,O,O,Y,6-4,2-1,2-4,2-0,None,-2.50,08-03-2025
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1547,W,X,2,H,2-0,None,E,E,EN,N,None,None,None,None,None,NaN,28-08-1993
1548,L,T,3,H,1-2,None,O,O,E,Y,None,None,None,None,None,NaN,25-08-1993
1549,W,T,5,A,5-0,None,O,O,EN,N,None,None,None,None,None,NaN,22-08-1993
1550,W,T,4,A,3-1,None,E,O,O,Y,None,None,None,None,None,NaN,18-08-1993
1551,W,X,2,H,2-0,None,E,E,EN,N,None,None,None,None,None,NaN,14-08-1993

# Save File

In [10]:
save_excel(team_data, OUTPUT_FILE)

Excel file saved as `sofascore.xlsx`