In [2]:
%pip install --upgrade pip -q
%pip install -q -r requirements.txt -q

Note: you may need to restart the kernel to use updated packages.
Note: you may need to restart the kernel to use updated packages.

In [1]:
# Output file name
OUTPUT_FILE = "Premier_League_Analysis.xlsx"

# Set the season and league
SEASON = "24/25"  # Current season
LEAGUE = "EPL"    # English Premier League

# List of column names
COLUMNS = [
    'W/L',
    'T/X',
    'Total of W',
    'Home/Away',
    'Correct score',
    'HT',
    'Total Goal O/E',
    'Score O/E',
    'Concede O/E',
    'BTTS',
    'Corner',
    'Card',
    'Corner HT',
    'Card HT',
    'ASIAN',
    'Handicap Value',
    'Date'
]

In [2]:
import sys
import os
# 
# Check Python version
print(f"Python Version: `{sys.version}`")  # Detailed version info
print(f"Base Python location: `{sys.base_prefix}`")
print(f"Current Environment location: `{os.path.basename(sys.prefix)}`", end='\n\n')

Python Version: `3.12.8 (tags/v3.12.8:2dc476b, Dec  3 2024, 19:30:04) [MSC v.1942 64 bit (AMD64)]`
Base Python location: `C:\Users\LMT\AppData\Local\Programs\Python\Python312`
Current Environment location: `.venv_sofascore-scraper`

# Import tools and library

In [11]:
from sofascore_scraper_tools import collect_teams_data, get_teams_in_league, save_excel
import ScraperFC as sfc
import pandas as pd

# Get all matches in the league

In [5]:
matches = pd.DataFrame(sfc.Sofascore().get_match_dicts(SEASON, LEAGUE)).sort_values('startTimestamp', ascending=False)
# matches.head()

Running

# Get teams in the league

In [6]:
team_names = get_teams_in_league(matches)
# team_names = ['Liverpool', 'Manchester City']
pd.DataFrame(team_names)

                         0
0                  Arsenal
1              Aston Villa
2              Bournemouth
3                Brentford
4   Brighton & Hove Albion
5                  Chelsea
6           Crystal Palace
7                  Everton
8                   Fulham
9             Ipswich Town
10          Leicester City
11               Liverpool
12         Manchester City
13       Manchester United
14        Newcastle United
15       Nottingham Forest
16             Southampton
17       Tottenham Hotspur
18         West Ham United
19           Wolverhampton

In [7]:
team_data = collect_teams_data(matches, team_names, COLUMNS)

Processing `Arsenal` matches: 100%|████████████████████████████████████████████████████| 31/31 [00:03<00:00,  9.22it/s]

Added data for `Arsenal` with `31` rows

Processing `Aston Villa` matches: 100%|████████████████████████████████████████████████| 31/31 [00:03<00:00,  9.16it/s]

Added data for `Aston Villa` with `31` rows

Processing `Bournemouth` matches: 100%|████████████████████████████████████████████████| 31/31 [00:03<00:00,  9.42it/s]

Added data for `Bournemouth` with `31` rows

Processing `Brentford` matches: 100%|██████████████████████████████████████████████████| 30/30 [00:03<00:00,  8.71it/s]

Added data for `Brentford` with `30` rows

Processing `Brighton & Hove Albion` matches: 100%|█████████████████████████████████████| 31/31 [00:03<00:00,  8.95it/s]

Added data for `Brighton & Hove Albion` with `31` rows

Processing `Chelsea` matches: 100%|████████████████████████████████████████████████████| 30/30 [00:05<00:00,  5.81it/s]

Added data for `Chelsea` with `30` rows

Processing `Crystal Palace` matches: 100%|█████████████████████████████████████████████| 30/30 [00:05<00:00,  5.83it/s]

Added data for `Crystal Palace` with `30` rows

Processing `Everton` matches: 100%|████████████████████████████████████████████████████| 32/32 [00:04<00:00,  7.80it/s]

Added data for `Everton` with `31` rows

Processing `Fulham` matches: 100%|█████████████████████████████████████████████████████| 30/30 [00:04<00:00,  7.36it/s]

Added data for `Fulham` with `30` rows

Processing `Ipswich Town` matches: 100%|███████████████████████████████████████████████| 31/31 [00:04<00:00,  7.71it/s]

Added data for `Ipswich Town` with `31` rows

Processing `Leicester City` matches: 100%|█████████████████████████████████████████████| 30/30 [00:05<00:00,  5.75it/s]

Added data for `Leicester City` with `30` rows

Processing `Liverpool` matches: 100%|██████████████████████████████████████████████████| 31/31 [00:04<00:00,  7.38it/s]

Added data for `Liverpool` with `30` rows

Processing `Manchester City` matches: 100%|████████████████████████████████████████████| 30/30 [00:04<00:00,  6.75it/s]

Added data for `Manchester City` with `30` rows

Processing `Manchester United` matches: 100%|██████████████████████████████████████████| 30/30 [00:04<00:00,  7.47it/s]

Added data for `Manchester United` with `30` rows

Processing `Newcastle United` matches: 100%|███████████████████████████████████████████| 29/29 [00:03<00:00,  8.12it/s]

Added data for `Newcastle United` with `29` rows

Processing `Nottingham Forest` matches: 100%|██████████████████████████████████████████| 31/31 [00:04<00:00,  7.37it/s]

Added data for `Nottingham Forest` with `31` rows

Processing `Southampton` matches: 100%|████████████████████████████████████████████████| 30/30 [00:03<00:00,  8.71it/s]

Added data for `Southampton` with `30` rows

Processing `Tottenham Hotspur` matches: 100%|██████████████████████████████████████████| 30/30 [00:03<00:00,  9.70it/s]

Added data for `Tottenham Hotspur` with `30` rows

Processing `West Ham United` matches: 100%|████████████████████████████████████████████| 31/31 [00:03<00:00,  9.46it/s]

Added data for `West Ham United` with `31` rows

Processing `Wolverhampton` matches: 100%|██████████████████████████████████████████████| 31/31 [00:03<00:00,  9.67it/s]

Added data for `Wolverhampton` with `31` rows

In [8]:
team_data['Liverpool']

,W/L,T/X,Total of W,Home/Away,Correct score,HT,Total Goal O/E,Score O/E,Concede O/E,BTTS,Corner,Card,Corner HT,Card HT,ASIAN,Handicap Value,Date
0,W,X,1,H,1-0,0-0,O,O,EN,N,11-5,2-2,5-2,0-2,None,None,02-04-2025
1,W,T,4,H,3-1,0-1,E,O,O,Y,6-4,2-1,2-4,2-0,None,None,08-03-2025
2,W,X,2,H,2-0,1-0,E,E,EN,N,4-2,0-1,0-0,0-0,None,None,26-02-2025
3,W,X,2,A,2-0,2-0,E,E,EN,N,5-7,0-0,2-4,0-0,None,None,23-02-2025
4,D,T,4,A,2-2,1-2,E,E,E,Y,8-6,0-1,2-2,0-1,None,None,19-02-2025
5,W,T,3,H,2-1,2-0,O,E,O,Y,4-3,2-2,4-1,1-2,None,None,16-02-2025
6,D,T,4,A,2-2,1-1,E,E,E,Y,3-2,5-5,1-1,2-3,None,None,12-02-2025
7,W,X,2,A,2-0,1-0,E,E,EN,N,3-3,3-2,1-2,0-0,None,None,01-02-2025
8,W,T,5,H,4-1,3-0,O,E,O,Y,3-4,0-2,0-1,0-0,None,None,25-01-2025
9,W,X,2,A,2-0,0-0,E,E,EN,N,15-2,3-2,9-0,2-0,None,None,18-01-2025
10,D,X,2,A,1-1,0-1,E,O,O,Y,9-0,1-2,2-0,0-1,None,None,14-01-2025
11,D,T,4,H,2-2,0-0,E,E,E,Y,6-9,2-4,2-2,0-1,None,None,05-01-2025
12,W,T,5,A,5-0,3-0,O,O,EN,N,6-2,0-0,4-1,0-0,None,None,29-12-2024
13,W,T,4,H,3-1,1-1,E,O,O,Y,14-1,3-2,8-1,1-1,None,None,26-12-2024
14,W,T,9,A,6-3,3-1,O,E,O,Y,5-7,2-1,2-1,1-0,None,None,22-12-2024
15,D,T,4,H,2-2,0-1,E,E,E,Y,5-4,4-4,2-2,2-3,None,None,14-12-2024
16,D,T,6,A,3-3,0-1,E,O,O,Y,6-5,5-2,4-5,3-0,None,None,04-12-2024
17,W,X,2,H,2-0,1-0,E,E,EN,N,7-4,1-3,5-0,1-3,None,None,01-12-2024
18,W,T,5,A,3-2,1-1,O,O,E,Y,10-3,4-3,2-3,2-1,None,None,24-11-2024
19,W,X,2,H,2-0,1-0,E,E,EN,N,2-9,0-3,2-4,0-2,None,None,09-11-2024
20,W,T,3,H,2-1,0-1,O,E,O,Y,9-7,1-2,6-3,1-0,None,None,02-11-2024
21,D,T,4,A,2-2,1-2,E,E,E,Y,3-1,2-2,1-0,1-0,None,None,27-10-2024
22,W,T,3,H,2-1,1-0,O,E,O,Y,1-5,4-3,1-3,1-2,None,None,20-10-2024
23,W,X,1,A,1-0,1-0,O,O,EN,N,8-3,2-4,7-2,2-0,None,None,05-10-2024
24,W,T,3,A,2-1,1-0,O,E,O,Y,10-2,3-2,6-0,2-1,None,None,28-09-2024
25,W,T,3,H,3-0,3-0,O,O,EN,N,3-9,1-4,2-3,0-3,None,None,21-09-2024
26,L,X,1,H,0-1,0-0,O,EN,O,N,7-2,4-4,4-2,0-2,None,None,14-09-2024
27,W,T,3,A,3-0,2-0,O,O,EN,N,2-5,1-4,1-2,0-3,None,None,01-09-2024
28,W,X,2,H,2-0,1-0,E,E,EN,N,9-4,2-3,4-2,2-2,None,None,25-08-2024
29,W,X,2,A,2-0,0-0,E,E,EN,N,10-2,1-3,6-1,0-3,None,None,17-08-2024

# Save File

In [9]:
save_excel(team_data, OUTPUT_FILE)

Excel file saved as `Premier_League_Analysis.xlsx`