In [1]:
# %pip install --upgrade pip -q
# %pip install -q -r requirements.txt -q

In [2]:
import sys
import os
# 
# Check Python version
print(f"Python Version: `{sys.version}`")  # Detailed version info
print(f"Base Python location: `{sys.base_prefix}`")
print(f"Current Environment location: `{os.path.basename(sys.prefix)}`", end='\n\n')

Python Version: `3.12.8 (tags/v3.12.8:2dc476b, Dec  3 2024, 19:30:04) [MSC v.1942 64 bit (AMD64)]`
Base Python location: `C:\Users\LMT\AppData\Local\Programs\Python\Python312`
Current Environment location: `.venv_sofascore-scraper`

In [3]:
# Output file name
OUTPUT_FILE = "sofascore.xlsx"

# Set the season and league
SEASON = ['latest'] 
LEAGUE = ["all"]
TEAM_IN_LEAGUE = ["EPL"]

# List of column names
COLUMNS = [
    'W/L',
    'T/X',
    'Total of W',
    'Home/Away',
    'Correct score',
    'HT',
    'Total Goal O/E',
    'Score O/E',
    'Concede O/E',
    'BTTS',
    'Corner',
    'Card',
    'Corner HT',
    'Card HT',
    'ASIAN',
    'Handicap Value',
    'Date'
]

# Import tools and library

- [ScraperFC's Sofascore API documentation](https://scraperfc.readthedocs.io/en/latest/sofascore.html)
- [Sofascore Source](https://www.sofascore.com)

In [4]:
import ScraperFC as sfc
from sofascore_scraper_tools import get_league_matches, collect_teams_data, get_teams_in_league, save_excel
import pandas as pd

In [5]:
# Add some more leagues
sfc.sofascore.comps.update({
    'EFL': 21,
    'FA': 19,
    'Emirates':1295
})
sfc.sofascore.comps

ALL_LEAGUE = list(sfc.sofascore.comps.keys())
print(f'All leagues available: \n{ALL_LEAGUE}')

All leagues available:
['Champions League', 'Europa League', 'Europa Conference League', 'EPL', 'La Liga', 'Bundesliga', 'Serie A', 'Ligue 1', 'Turkish Super Lig', 'Argentina Liga Profesional', 'Argentina Copa de la Liga Profesional', 'Liga 1 Peru', 'Copa Libertadores', 'MLS', 'USL Championship', 'USL1', 'USL2', 'Saudi Pro League', 'World Cup', 'Euros', 'Gold Cup', "Women's World Cup", 'EFL', 'FA', 'Emirates']

# Get all matches in the league

In [6]:
matches = get_league_matches(SEASON, LEAGUE)

Running

# Get teams in the league

In [7]:
team_names = get_teams_in_league(TEAM_IN_LEAGUE, SEASON)
# team_names = ['Tottenham Hotspur']
pd.DataFrame(team_names)

                         0
0                  Arsenal
1              Aston Villa
2              Bournemouth
3                Brentford
4   Brighton & Hove Albion
5                  Chelsea
6           Crystal Palace
7                  Everton
8                   Fulham
9             Ipswich Town
10          Leicester City
11               Liverpool
12         Manchester City
13       Manchester United
14        Newcastle United
15       Nottingham Forest
16             Southampton
17       Tottenham Hotspur
18         West Ham United
19           Wolverhampton

In [8]:
team_data = collect_teams_data(matches, team_names, COLUMNS)

Processing `Arsenal` matches: 100%|████████████████████████████████████████████████████| 42/42 [00:07<00:00,  5.31it/s]

Added data for `Arsenal` with `42` rows

Processing `Aston Villa` matches: 100%|████████████████████████████████████████████████| 41/41 [00:08<00:00,  5.12it/s]

Added data for `Aston Villa` with `41` rows

Processing `Bournemouth` matches: 100%|████████████████████████████████████████████████| 31/31 [00:05<00:00,  5.86it/s]

Added data for `Bournemouth` with `31` rows

Processing `Brentford` matches: 100%|██████████████████████████████████████████████████| 31/31 [00:05<00:00,  5.37it/s]

Added data for `Brentford` with `31` rows

Processing `Brighton & Hove Albion` matches: 100%|█████████████████████████████████████| 31/31 [00:05<00:00,  5.65it/s]

Added data for `Brighton & Hove Albion` with `31` rows

Processing `Chelsea` matches: 100%|████████████████████████████████████████████████████| 41/41 [00:07<00:00,  5.76it/s]

Added data for `Chelsea` with `41` rows

Processing `Crystal Palace` matches: 100%|█████████████████████████████████████████████| 30/30 [00:05<00:00,  5.77it/s]

Added data for `Crystal Palace` with `30` rows

Processing `Everton` matches: 100%|████████████████████████████████████████████████████| 32/32 [00:05<00:00,  6.19it/s]

Added data for `Everton` with `31` rows

Processing `Fulham` matches: 100%|█████████████████████████████████████████████████████| 31/31 [00:05<00:00,  5.97it/s]

Added data for `Fulham` with `31` rows

Processing `Ipswich Town` matches: 100%|███████████████████████████████████████████████| 31/31 [00:05<00:00,  6.18it/s]

Added data for `Ipswich Town` with `31` rows

Processing `Leicester City` matches: 100%|█████████████████████████████████████████████| 31/31 [00:05<00:00,  5.25it/s]

Added data for `Leicester City` with `31` rows

Processing `Liverpool` matches: 100%|██████████████████████████████████████████████████| 42/42 [00:08<00:00,  4.73it/s]

Added data for `Liverpool` with `41` rows

Processing `Manchester City` matches: 100%|████████████████████████████████████████████| 41/41 [00:08<00:00,  5.03it/s]

Added data for `Manchester City` with `41` rows

Processing `Manchester United` matches: 100%|██████████████████████████████████████████| 41/41 [00:08<00:00,  4.84it/s]

Added data for `Manchester United` with `41` rows

Processing `Newcastle United` matches: 100%|███████████████████████████████████████████| 30/30 [00:06<00:00,  4.91it/s]

Added data for `Newcastle United` with `30` rows

Processing `Nottingham Forest` matches: 100%|██████████████████████████████████████████| 31/31 [00:06<00:00,  4.95it/s]

Added data for `Nottingham Forest` with `31` rows

Processing `Southampton` matches: 100%|████████████████████████████████████████████████| 31/31 [00:06<00:00,  5.03it/s]

Added data for `Southampton` with `31` rows

Processing `Tottenham Hotspur` matches: 100%|██████████████████████████████████████████| 41/41 [00:07<00:00,  5.21it/s]

Added data for `Tottenham Hotspur` with `41` rows

Processing `West Ham United` matches: 100%|████████████████████████████████████████████| 31/31 [00:06<00:00,  5.08it/s]

Added data for `West Ham United` with `31` rows

Processing `Wolverhampton` matches: 100%|██████████████████████████████████████████████| 31/31 [00:06<00:00,  5.13it/s]

Added data for `Wolverhampton` with `31` rows

In [9]:
team_data['Tottenham Hotspur']

,W/L,T/X,Total of W,Home/Away,Correct score,HT,Total Goal O/E,Score O/E,Concede O/E,BTTS,Corner,Card,Corner HT,Card HT,ASIAN,Handicap Value,Date
0,W,T,4,H,3-1,2-0,E,O,O,Y,4-1,1-1,4-0,0-1,None,-1.50,06-04-2025
1,L,X,1,A,0-1,0-0,O,EN,O,N,6-4,5-5,2-4,1-1,None,1.00,03-04-2025
2,L,X,2,A,0-2,0-0,E,EN,E,N,5-6,0-0,2-4,0-0,None,0.50,16-03-2025
3,W,T,4,H,3-1,1-0,E,O,O,Y,5-2,0-1,2-0,0-0,None,-1.25,13-03-2025
4,D,T,4,H,2-2,0-1,E,E,E,Y,3-6,3-3,2-2,2-1,None,0.25,09-03-2025
5,L,X,1,A,0-1,0-1,O,EN,O,N,2-7,1-3,2-3,0-0,None,NaN,06-03-2025
6,L,X,1,H,0-1,0-1,O,EN,O,N,8-3,3-0,3-1,1-0,None,0.75,26-02-2025
7,W,T,5,A,4-1,2-1,O,E,O,Y,4-4,1-2,2-1,1-2,None,-0.25,22-02-2025
8,W,X,1,H,1-0,1-0,O,O,EN,N,10-5,1-2,2-1,0-1,None,-0.25,16-02-2025
9,W,X,2,A,2-0,1-0,E,E,EN,N,3-10,1-0,2-5,1-0,None,0.50,02-02-2025
10,W,T,3,H,3-0,0-0,O,O,EN,N,10-0,1-0,7-0,0-0,None,-1.75,30-01-2025
11,L,T,3,H,1-2,1-0,O,O,E,Y,6-4,1-5,1-4,0-0,None,-1.25,26-01-2025
12,W,T,5,A,3-2,2-0,O,O,E,Y,4-6,0-1,2-5,0-1,None,-0.25,23-01-2025
13,L,T,5,A,2-3,0-3,O,E,O,Y,8-3,1-2,3-3,1-1,None,-0.00,19-01-2025
14,L,T,3,A,1-2,1-2,O,O,E,Y,4-10,1-3,3-7,1-1,None,1.50,15-01-2025
15,L,T,3,H,1-2,1-2,O,O,E,Y,9-10,1-4,3-7,0-1,None,0.75,04-01-2025
16,D,T,4,H,2-2,2-1,E,E,E,Y,5-5,1-2,4-1,0-2,None,-1.00,29-12-2024
17,L,X,1,A,0-1,0-1,O,EN,O,N,7-2,5-3,2-0,0-2,None,0.25,26-12-2024
18,L,T,9,H,3-6,1-3,O,O,E,Y,7-5,1-2,1-2,0-1,None,1.00,22-12-2024
19,W,T,5,A,5-0,5-0,O,O,EN,N,5-2,3-1,3-0,1-1,None,-0.75,15-12-2024
20,D,X,2,A,1-1,0-0,E,O,O,Y,7-7,2-1,4-3,0-1,None,-0.50,12-12-2024
21,L,T,7,H,3-4,2-1,O,O,E,Y,5-10,2-3,3-4,1-1,None,0.25,08-12-2024
22,L,X,1,A,0-1,0-1,O,EN,O,N,9-5,2-2,5-1,2-0,None,0.25,05-12-2024
23,D,X,2,H,1-1,0-0,E,O,O,Y,7-11,0-2,4-8,0-0,None,-0.50,01-12-2024
24,D,T,4,H,2-2,2-1,E,E,E,Y,7-6,2-1,3-2,1-1,None,-1.00,28-11-2024
25,W,T,4,A,4-0,2-0,E,E,EN,N,3-9,2-4,3-3,1-0,None,1.25,23-11-2024
26,L,T,3,H,1-2,0-2,O,O,E,Y,12-2,1-5,3-2,0-1,None,-2.00,10-11-2024
27,L,T,5,A,2-3,1-3,O,E,O,Y,0-8,7-3,0-2,1-1,None,NaN,07-11-2024
28,W,T,5,H,4-1,0-1,O,E,O,Y,6-4,2-0,5-2,0-0,None,-0.50,03-11-2024
29,L,X,1,A,0-1,0-1,O,EN,O,N,8-8,4-4,5-5,1-2,None,-0.50,27-10-2024
30,W,X,1,H,1-0,0-0,O,O,EN,N,6-4,0-6,2-1,0-0,None,NaN,24-10-2024
31,W,T,5,H,4-1,1-1,O,E,O,Y,13-5,1-4,12-2,0-1,None,-1.25,19-10-2024
32,L,T,5,A,2-3,2-0,O,E,O,Y,7-4,2-2,2-1,0-1,None,-0.25,06-10-2024
33,W,T,3,A,2-1,1-0,O,E,O,Y,11-4,0-1,5-1,0-1,None,NaN,03-10-2024
34,W,T,3,A,3-0,1-0,O,O,EN,N,3-5,3-6,2-0,1-4,None,0.25,29-09-2024
35,W,T,3,H,3-0,1-0,O,O,EN,N,3-9,2-1,1-4,1-1,None,NaN,26-09-2024
36,W,T,4,H,3-1,2-1,E,O,O,Y,9-4,3-1,4-2,1-0,None,-1.25,21-09-2024
37,L,X,1,H,0-1,0-0,O,EN,O,N,7-6,5-3,3-5,5-2,None,0.00,15-09-2024
38,L,T,3,A,1-2,0-1,O,O,E,Y,12-7,4-4,4-4,1-3,None,-0.00,01-09-2024
39,W,T,4,H,4-0,2-0,E,E,EN,N,12-5,0-0,8-4,0-0,None,-1.50,24-08-2024
40,D,X,2,A,1-1,1-0,E,O,O,Y,13-2,1-1,9-0,0-0,None,-0.75,19-08-2024

# Save File

In [10]:
save_excel(team_data, OUTPUT_FILE)

Excel file saved as `sofascore.xlsx`